@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;600;700;900&display=swap');

/* Global Styles */
/* Variables */
:root {
    --white: #fff;
    --accent: rgb(98, 106, 100);
    --background: rgb(48, 53, 49);
    --border: 2px solid var(--white);
    --border-radius: 10px;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Link Colors */
a:link {
    color: var(--white);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: var(--white);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: var(--accent);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: var(--accent);
    background-color: transparent;
    text-decoration: underline;
  }
/* End of Global Styles */

/* Header Styles */
header {
    color: var(--white);
    display: flex;
    background-image: url(../img/tt-portfolio-header.png);
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
	height: 50vh;
    margin: 0;
    padding: 0;
    align-items: top;
    justify-content: space-between;
}

nav {
    font-size: 18pt;
    text-transform: uppercase;
    letter-spacing: 5pt;
}

.nav-links {
    padding: 28px 0;
    color: var(--white);
}

.nav-links li {
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a {
    text-decoration: none;
    padding: 5px 0;
}

#logo {
    float: left;
    width: 300px;
    padding: 20px;
}
/* End of Header Styles */

/* Main Content Styles */
/* 01 ABOUT SECTION */
main {
    margin: 2rem 2rem 2rem 2rem;
}

h1 {
    font-size: 50px;
    padding-bottom: 5px;
}

h2 {
    padding-bottom: 20px;
    font-weight: 700;
}

.name {
   color: var(--accent); 
}

body {
    color: var(--white);
    background-color: var(--background);
}

/* 02 PORTFOLIO SECTION */
#portfolio, #contact, #about {
    margin: 2rem 0 4rem 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    flex-direction: column;
}

.card {
    border: var(--border);
    color: var(--white);
    border-radius: var(--border-radius);
    height: 300px;
    position: relative;
    background-color: var(--accent);
}

.card h3 {
    position: absolute;
    bottom: -1px;
    left: -1px;
    background-color: var(--white);
    color: var(--background);
    padding: 2px .5rem;
    border-bottom-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    font-size: 2rem;
}

.card.card-focus {
    background-color: var(--accent);
    background-image: url(../img/tony-trocino-portfolio-screenshot.png);
    background-size: cover;

}

/* 03 CONTACT SECTION */
#contact {
    background-color: var(--accent);
    border: var(--border);
    border-radius: var(--border-radius);
    
}

/* Contact Form */
form {
    max-width:1000px; margin:50px auto; 
    /* margin-left: 100px;
    margin-right: 100px; */
}

.feedback-input {
  color:var(--white);
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: var(--background);
  border:2px solid #fff;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { 
    border: 2px solid black;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background:var(--background);
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:var(--white);
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#cccccc; }
/* End of Main Content Styles */

@media screen and (min-width: 640px){
    main {
        margin: 2rem 4rem 2rem 4rem;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        gap: 2rem;
        flex-direction: row;
    }
    
    .card {
        border: 2px solid var(--white);
        color: var(--white);
        border-radius: 10px;
        height: 300px;
        flex-grow: 1;
    }
    
    .card.card-focus {
        width: 100%;
        flex-grow: 3;
    }
}